/* Black Atom — STA ∷ Engineering */

* {
    font-family: "Iosevka Nerd Font", monospace;
    font-size: 18px;
    border: none;
    border-radius: 0;
    min-height: 0;
    padding: 2px;
}

window#waybar {
    background-color: #0d1818;
    color: #d5f4e3;
}

#workspaces button {
    padding: 0 6px;
    color: #91bcad;
    background: transparent;
}

#workspaces button.focused {
    color: #0d1818;
    background: #d5f4e3;
}

#workspaces button:hover {
    background: #1c2626;
}

#clock {
    font-weight: bold;
}

#custom-vpn {
    color: #7fcd81;
}

#tray > .needs-attention {
    background: #d5f4e3;
    color: #0d1818;
}
