/* Black Atom — STA ∷ Research */

* {
    font-family: "Iosevka Nerd Font", monospace;
    font-size: 18px;
    border: none;
    border-radius: 0;
    min-height: 0;
    padding: 2px;
}

window#waybar {
    background-color: #f8f9f9;
    color: #2b3b33;
}

#workspaces button {
    padding: 0 6px;
    color: #75a490;
    background: transparent;
}

#workspaces button.focused {
    color: #f8f9f9;
    background: #2b3b33;
}

#workspaces button:hover {
    background: #e3e8e6;
}

#clock {
    font-weight: bold;
}

#custom-vpn {
    color: #53aa53;
}

#tray > .needs-attention {
    background: #2b3b33;
    color: #f8f9f9;
}
