/* Black Atom — STA ∷ Medical */

* {
    font-family: "Iosevka Nerd Font", monospace;
    font-size: 18px;
    border: none;
    border-radius: 0;
    min-height: 0;
    padding: 2px;
}

window#waybar {
    background-color: #e1e7e4;
    color: #2b3b33;
}

#workspaces button {
    padding: 0 6px;
    color: #669a84;
    background: transparent;
}

#workspaces button.focused {
    color: #e1e7e4;
    background: #2b3b33;
}

#workspaces button:hover {
    background: #c6d1cc;
}

#clock {
    font-weight: bold;
}

#custom-vpn {
    color: #3c8e3c;
}

#tray > .needs-attention {
    background: #2b3b33;
    color: #e1e7e4;
}
