/* Black Atom — STA ∷ Operations */

* {
    font-family: "Iosevka Nerd Font", monospace;
    font-size: 18px;
    border: none;
    border-radius: 0;
    min-height: 0;
    padding: 2px;
}

window#waybar {
    background-color: #21302d;
    color: #c1efd5;
}

#workspaces button {
    padding: 0 6px;
    color: #91bcad;
    background: transparent;
}

#workspaces button.focused {
    color: #21302d;
    background: #c1efd5;
}

#workspaces button:hover {
    background: #293c36;
}

#clock {
    font-weight: bold;
}

#custom-vpn {
    color: #80c980;
}

#tray > .needs-attention {
    background: #c1efd5;
    color: #21302d;
}
