/* Black Atom — MNM ∷ E-Ink Light */

* {
    font-family: "Iosevka Nerd Font", monospace;
    font-size: 18px;
    border: none;
    border-radius: 0;
    min-height: 0;
    padding: 2px;
}

window#waybar {
    background-color: #dedede;
    color: #292929;
}

#workspaces button {
    padding: 0 6px;
    color: #5d5d5d;
    background: transparent;
}

#workspaces button.focused {
    color: #dedede;
    background: #292929;
}

#workspaces button:hover {
    background: #d1d1d1;
}

#clock {
    font-weight: bold;
}

#custom-vpn {
    color: #8c8c8c;
}

#tray > .needs-attention {
    background: #292929;
    color: #dedede;
}
