/* Black Atom — MNM ∷ 47 Light */

* {
    font-family: "Iosevka Nerd Font", monospace;
    font-size: 18px;
    border: none;
    border-radius: 0;
    min-height: 0;
    padding: 2px;
}

window#waybar {
    background-color: #f3eadd;
    color: #20231b;
}

#workspaces button {
    padding: 0 6px;
    color: #5d684c;
    background: transparent;
}

#workspaces button.focused {
    color: #f3eadd;
    background: #20231b;
}

#workspaces button:hover {
    background: #e6dcd0;
}

#clock {
    font-weight: bold;
}

#custom-vpn {
    color: #00936b;
}

#tray > .needs-attention {
    background: #20231b;
    color: #f3eadd;
}
