/* Black Atom — MNM ∷ Clay Dark */

* {
    font-family: "Iosevka Nerd Font", monospace;
    font-size: 18px;
    border: none;
    border-radius: 0;
    min-height: 0;
    padding: 2px;
}

window#waybar {
    background-color: #302e28;
    color: #e3decc;
}

#workspaces button {
    padding: 0 6px;
    color: #a49e8d;
    background: transparent;
}

#workspaces button.focused {
    color: #302e28;
    background: #e3decc;
}

#workspaces button:hover {
    background: #3c3a35;
}

#clock {
    font-weight: bold;
}

#custom-vpn {
    color: #a49e8d;
}

#tray > .needs-attention {
    background: #e3decc;
    color: #302e28;
}
