/* Black Atom — MNM ∷ 47 Dark */

* {
    font-family: "Iosevka Nerd Font", monospace;
    font-size: 18px;
    border: none;
    border-radius: 0;
    min-height: 0;
    padding: 2px;
}

window#waybar {
    background-color: #20231b;
    color: #ffe7c7;
}

#workspaces button {
    padding: 0 6px;
    color: #7a8568;
    background: transparent;
}

#workspaces button.focused {
    color: #20231b;
    background: #ffe7c7;
}

#workspaces button:hover {
    background: #373d2f;
}

#clock {
    font-weight: bold;
}

#custom-vpn {
    color: #3dc7a9;
}

#tray > .needs-attention {
    background: #ffe7c7;
    color: #20231b;
}
