/* Black Atom — MNM ∷ Mikado Light */

* {
    font-family: "Iosevka Nerd Font", monospace;
    font-size: 18px;
    border: none;
    border-radius: 0;
    min-height: 0;
    padding: 2px;
}

window#waybar {
    background-color: #c3cfd4;
    color: #0f212d;
}

#workspaces button {
    padding: 0 6px;
    color: #4c5d67;
    background: transparent;
}

#workspaces button.focused {
    color: #c3cfd4;
    background: #0f212d;
}

#workspaces button:hover {
    background: #b4c3c9;
}

#clock {
    font-weight: bold;
}

#custom-vpn {
    color: #617683;
}

#tray > .needs-attention {
    background: #0f212d;
    color: #c3cfd4;
}
