/* Black Atom — MNM ∷ E-Ink Dark */

* {
    font-family: "Iosevka Nerd Font", monospace;
    font-size: 18px;
    border: none;
    border-radius: 0;
    min-height: 0;
    padding: 2px;
}

window#waybar {
    background-color: #2e2e2e;
    color: #dedede;
}

#workspaces button {
    padding: 0 6px;
    color: #8c8c8c;
    background: transparent;
}

#workspaces button.focused {
    color: #2e2e2e;
    background: #dedede;
}

#workspaces button:hover {
    background: #383838;
}

#clock {
    font-weight: bold;
}

#custom-vpn {
    color: #8c8c8c;
}

#tray > .needs-attention {
    background: #dedede;
    color: #2e2e2e;
}
