/* Black Atom — MNM ∷ Osman Light */

* {
    font-family: "Iosevka Nerd Font", monospace;
    font-size: 18px;
    border: none;
    border-radius: 0;
    min-height: 0;
    padding: 2px;
}

window#waybar {
    background-color: #fff7f0;
    color: #38312b;
}

#workspaces button {
    padding: 0 6px;
    color: #6c6158;
    background: transparent;
}

#workspaces button.focused {
    color: #fff7f0;
    background: #38312b;
}

#workspaces button:hover {
    background: #f2eae2;
}

#clock {
    font-weight: bold;
}

#custom-vpn {
    color: #897e74;
}

#tray > .needs-attention {
    background: #38312b;
    color: #fff7f0;
}
