/* Black Atom — TER ∷ Spring Day */

* {
    font-family: "Iosevka Nerd Font", monospace;
    font-size: 18px;
    border: none;
    border-radius: 0;
    min-height: 0;
    padding: 2px;
}

window#waybar {
    background-color: #d4dcd8;
    color: #385547;
}

#workspaces button {
    padding: 0 6px;
    color: #55816a;
    background: transparent;
}

#workspaces button.focused {
    color: #d4dcd8;
    background: #385547;
}

#workspaces button:hover {
    background: #b9c6bf;
}

#clock {
    font-weight: bold;
}

#custom-vpn {
    color: #11b066;
}

#tray > .needs-attention {
    background: #385547;
    color: #d4dcd8;
}
