/* Black Atom — TER ∷ Summer Night */

* {
    font-family: "Iosevka Nerd Font", monospace;
    font-size: 18px;
    border: none;
    border-radius: 0;
    min-height: 0;
    padding: 2px;
}

window#waybar {
    background-color: #001b1a;
    color: #eae0cf;
}

#workspaces button {
    padding: 0 6px;
    color: #849581;
    background: transparent;
}

#workspaces button.focused {
    color: #001b1a;
    background: #eae0cf;
}

#workspaces button:hover {
    background: #042824;
}

#clock {
    font-weight: bold;
}

#custom-vpn {
    color: #69ba7c;
}

#tray > .needs-attention {
    background: #eae0cf;
    color: #001b1a;
}
