/* Black Atom — TER ∷ Summer Day */

* {
    font-family: "Iosevka Nerd Font", monospace;
    font-size: 18px;
    border: none;
    border-radius: 0;
    min-height: 0;
    padding: 2px;
}

window#waybar {
    background-color: #f9eddd;
    color: #0d3025;
}

#workspaces button {
    padding: 0 6px;
    color: #4f6b58;
    background: transparent;
}

#workspaces button.focused {
    color: #f9eddd;
    background: #0d3025;
}

#workspaces button:hover {
    background: #e9ddc4;
}

#clock {
    font-weight: bold;
}

#custom-vpn {
    color: #397949;
}

#tray > .needs-attention {
    background: #0d3025;
    color: #f9eddd;
}
