/* Black Atom — TER ∷ Spring Night */

* {
    font-family: "Iosevka Nerd Font", monospace;
    font-size: 18px;
    border: none;
    border-radius: 0;
    min-height: 0;
    padding: 2px;
}

window#waybar {
    background-color: #212523;
    color: #d6d0c2;
}

#workspaces button {
    padding: 0 6px;
    color: #82978c;
    background: transparent;
}

#workspaces button.focused {
    color: #212523;
    background: #d6d0c2;
}

#workspaces button:hover {
    background: #272c2a;
}

#clock {
    font-weight: bold;
}

#custom-vpn {
    color: #92d49a;
}

#tray > .needs-attention {
    background: #d6d0c2;
    color: #212523;
}
