/* Black Atom — MNM ∷ ITA Light */

/* Background colors */
@define-color ba-bg-default #fcfcfc;
@define-color ba-bg-panel #eeeeee;
@define-color ba-bg-hover #eeeeee;
@define-color ba-bg-active #ffffff;
@define-color ba-bg-selection #dedede;
@define-color ba-bg-contrast #3d3d3d;

/* Foreground colors */
@define-color ba-fg-default #161616;
@define-color ba-fg-subtle #8c8c8c;
@define-color ba-fg-accent #199c38;
@define-color ba-fg-disabled #b1b1b1;
@define-color ba-fg-contrast #eeeeee;

/* Feedback colors */
@define-color ba-fg-negative #ef343b;
@define-color ba-fg-positive #199c38;
@define-color ba-fg-warn #ae5700;
@define-color ba-fg-info #0c79b4;

/* Palette colors */
@define-color ba-red #c4c4c4;
@define-color ba-green #b1b1b1;
@define-color ba-yellow #b1b1b1;
@define-color ba-blue #c4c4c4;
@define-color ba-magenta #b1b1b1;
@define-color ba-cyan #c4c4c4;
