/* Black Atom — MNM ∷ 47 Dark */

/* Background colors */
@define-color ba-bg-default #20231b;
@define-color ba-bg-panel #151712;
@define-color ba-bg-hover #373d2f;
@define-color ba-bg-active #373d2f;
@define-color ba-bg-selection #434b36;
@define-color ba-bg-contrast #e5cdad;

/* Foreground colors */
@define-color ba-fg-default #ffe7c7;
@define-color ba-fg-subtle #7a8568;
@define-color ba-fg-accent #3dc7a9;
@define-color ba-fg-disabled #6b765a;
@define-color ba-fg-contrast #20231b;

/* Feedback colors */
@define-color ba-fg-negative #fe886a;
@define-color ba-fg-positive #3dc7a9;
@define-color ba-fg-warn #ccac16;
@define-color ba-fg-info #a4acce;

/* Palette colors */
@define-color ba-red #98a485;
@define-color ba-green #3dc7a9;
@define-color ba-yellow #fa8e3c;
@define-color ba-blue #6b765a;
@define-color ba-magenta #7a8568;
@define-color ba-cyan #98a485;
