/* Black Atom — TER ∷ Summer Night */

/* Background colors */
@define-color ba-bg-default #001b1a;
@define-color ba-bg-panel #001111;
@define-color ba-bg-hover #042824;
@define-color ba-bg-active #042824;
@define-color ba-bg-selection #14342f;
@define-color ba-bg-contrast #eae0cf;

/* Foreground colors */
@define-color ba-fg-default #eae0cf;
@define-color ba-fg-subtle #849581;
@define-color ba-fg-accent #f3b94c;
@define-color ba-fg-disabled #6c816c;
@define-color ba-fg-contrast #001b1a;

/* Feedback colors */
@define-color ba-fg-negative #e2805e;
@define-color ba-fg-positive #69ba7c;
@define-color ba-fg-warn #f3b94c;
@define-color ba-fg-info #00a5a6;

/* Palette colors */
@define-color ba-red #e2805e;
@define-color ba-green #69ba7c;
@define-color ba-yellow #f3b94c;
@define-color ba-blue #00a5a6;
@define-color ba-magenta #d88095;
@define-color ba-cyan #51bb9a;
