/* Black Atom — MNM ∷ E-Ink Dark */

/* Background colors */
@define-color ba-bg-default #161616;
@define-color ba-bg-panel #090909;
@define-color ba-bg-hover #242424;
@define-color ba-bg-active #242424;
@define-color ba-bg-selection #2e2e2e;
@define-color ba-bg-contrast #c4c4c4;

/* Foreground colors */
@define-color ba-fg-default #dedede;
@define-color ba-fg-subtle #8c8c8c;
@define-color ba-fg-accent #d2b5bd;
@define-color ba-fg-disabled #7a7a7a;
@define-color ba-fg-contrast #161616;

/* Feedback colors */
@define-color ba-fg-negative #dd7577;
@define-color ba-fg-positive #a9ba78;
@define-color ba-fg-warn #d6b174;
@define-color ba-fg-info #79b5cc;

/* Palette colors */
@define-color ba-red #a4a4a4;
@define-color ba-green #8c8c8c;
@define-color ba-yellow #8c8c8c;
@define-color ba-blue #a4a4a4;
@define-color ba-magenta #8c8c8c;
@define-color ba-cyan #a4a4a4;
