/* Black Atom — JPN ∷ Murasaki Yoru */

* {
    font-family: "Iosevka Nerd Font", monospace;
    font-size: 18px;
    border: none;
    border-radius: 0;
    min-height: 0;
    padding: 2px;
}

window#waybar {
    background-color: #332031;
    color: #d4bfd6;
}

#workspaces button {
    padding: 0 6px;
    color: #946996;
    background: transparent;
}

#workspaces button.focused {
    color: #332031;
    background: #d4bfd6;
}

#workspaces button:hover {
    background: #462c43;
}

#clock {
    font-weight: bold;
}

#custom-vpn {
    color: #6dc29f;
}

#tray > .needs-attention {
    background: #d4bfd6;
    color: #332031;
}
