/* Black Atom — JPN ∷ Tsuki Yoru */

* {
    font-family: "Iosevka Nerd Font", monospace;
    font-size: 18px;
    border: none;
    border-radius: 0;
    min-height: 0;
    padding: 2px;
}

window#waybar {
    background-color: #1c1c1c;
    color: #e6e6e6;
}

#workspaces button {
    padding: 0 6px;
    color: #9d9daf;
    background: transparent;
}

#workspaces button.focused {
    color: #1c1c1c;
    background: #e6e6e6;
}

#workspaces button:hover {
    background: #282828;
}

#clock {
    font-weight: bold;
}

#custom-vpn {
    color: #90b99f;
}

#tray > .needs-attention {
    background: #e6e6e6;
    color: #1c1c1c;
}
