/* Black Atom — JPN ∷ Koyo Yoru */

* {
    font-family: "Iosevka Nerd Font", monospace;
    font-size: 18px;
    border: none;
    border-radius: 0;
    min-height: 0;
    padding: 2px;
}

window#waybar {
    background-color: #35293a;
    color: #fbcaa4;
}

#workspaces button {
    padding: 0 6px;
    color: #9c98b3;
    background: transparent;
}

#workspaces button.focused {
    color: #35293a;
    background: #fbcaa4;
}

#workspaces button:hover {
    background: #413446;
}

#clock {
    font-weight: bold;
}

#custom-vpn {
    color: #5db28d;
}

#tray > .needs-attention {
    background: #fbcaa4;
    color: #35293a;
}
