/* Black Atom — Dark Dimmed */

* {
    font-family: "Iosevka Nerd Font", monospace;
    font-size: 18px;
    border: none;
    border-radius: 0;
    min-height: 0;
    padding: 2px;
}

window#waybar {
    background-color: #1e2020;
    color: #e1e6e5;
}

#workspaces button {
    padding: 0 6px;
    color: #7d8181;
    background: transparent;
}

#workspaces button.focused {
    color: #1e2020;
    background: #e1e6e5;
}

#workspaces button:hover {
    background: #272929;
}

#clock {
    font-weight: bold;
}

#custom-vpn {
    color: #7d8181;
}

#tray > .needs-attention {
    background: #e1e6e5;
    color: #1e2020;
}
